* {
	box-sizing: border-box;
}

html {
	background-image: url('./images/bg.jpg');
	background-size: contain;
}

h1 {
	padding: 80px;
	margin: 8px;
}

.content {
	margin: 0px auto;
	padding: 40px;
	text-align: center;

	color: rgb(221, 221, 221);

	/* this is needed or the background will be offset by a few pixels at the top */
	filter: drop-shadow(5px 5px 1px black);
}

p {
	margin: 16px auto;
	width: 650px;
}

a {
	display: inline-block;
	margin: 32px 8px;

	color: orange;
	text-decoration: none;
	font-weight: bold;

	transition: transform .02s ease-in-out;
}

a:hover {
	text-decoration: underline;
	
	transform: scale(1.02);
}

.rotate {
	animation: rotation 6s infinite ease-in-out;
}

@keyframes rotation {
	0% {transform: rotate(-7deg);}
	50% {transform: rotate(5deg);}
	100% {transform: rotate(-7deg);}
}