/* setting everything to border-box */
* {
	box-sizing: border-box;
}


h1 {
	padding: 80px;
	margin: 8px;
}

.content {
	margin: 0px auto;
	padding: 40px;
	text-align: center;

	color: rgb(7, 7, 7);

	/* this is needed or the background will be offset by a few pixels at the top */
	filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.247));
}

p {
	margin: 16px auto;
	width: 650px;
}

/* for links that need to display in a line */
.links a {
	display: inline-block;
	margin: 32px 8px;
}

/* default link style */
a {
	color: rgb(238, 78, 4);
	text-decoration: none;
	font-weight: bold;

	transition: transform .02s ease-in-out;
}

/* default link hover animation */
a:hover {
	text-decoration: underline;
	
	transform: scale(1.02);
}

/* rotation animation (for text and stuff) */
.rotate {
	animation: rotation 6s infinite ease-in-out;
}

@keyframes rotation {
	0% {transform: rotate(-7deg);}
	50% {transform: rotate(5deg);}
	100% {transform: rotate(-7deg);}
}